<h1 class="tui-text_h1">
  Моё расписание
</h1>
<div *ngFor="let schedule of schedules"
     class="tui-form__row">
  <div class="tui-text_body-l">{{daysMap[schedule.day]}}</div>
  <div class="d-flex align-items-center">
    <tui-input-time
      class="tui-space_right-2"
      tuiTextfieldSize="m"
      [(ngModel)]="schedule.workStartTime">
      От
    </tui-input-time>
    -
    <tui-input-time
      class="tui-space_left-2"
      tuiTextfieldSize="m"
      [(ngModel)]="schedule.workEndTime">
      До
    </tui-input-time>
  </div>
</div>
<div class="tui-form__buttons">
  <button
    tuiButton
    size="m"
    type="button"
    class="tui-form__button"
    [showLoader]="loading"
    (click)="save()">
    Сохранить
  </button>
</div>
