<div class="row">
  <tui-island class="login-form" size="l" textAlign="center">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <h3 class="tui-form__header tui-form__header_margin-top_none">
        Вход
      </h3>
      <tui-notification *ngIf="successfulSignup" status="success" class="tui-space_top-4">
        Вы успешно зарегистрированы!
      </tui-notification>
      <div class="tui-form__row">
        <tui-input formControlName="email">
          Введите email
        </tui-input>
      </div>
      <div class="tui-form__row">
        <tui-input-password formControlName="password" class="tui-space_top-2">
          Введите пароль
        </tui-input-password>
      </div>
      <div class="tui-form__row">
        <button
          tuiButton
          class="tui-form__button"
          size="m"
          type="submit"
          [showLoader]="loading">
          Войти
        </button>
      </div>
    </form>
    <div class="tui-space_top-6">
      <a tuiLink routerLink="/signup">Регистрация</a>
    </div>
  </tui-island>
</div>
